:host {
  @apply drt:flex drt:flex-col;

  .sign-transactions-header {
    @apply drt:flex drt:flex-1 drt:flex-col drt:gap-5 drt:py-5;

    .sign-transactions-header-pager {
      @apply drt:flex drt:relative drt:rounded-2xl drt:h-9 drt:items-center drt:px-5 drt:justify-center drt:mx-auto drt:gap-5;
      background-color: var(--drt-bg-color-secondary);

      .sign-transactions-header-pager-icon {
        @apply drt:relative drt:z-1 drt:cursor-pointer drt:flex drt:items-center drt:justify-center drt:transition-all;
        @apply drt:ease-in-out drt:duration-200 drt:w-5;
        fill: var(--drt-text-color-secondary);

        &:hover {
          fill: var(--drt-text-color-primary);
        }

        &.disabled {
          @apply drt:pointer-events-none drt:opacity-50;
        }
      }

      .sign-transactions-header-pager-text {
        @apply drt:relative drt:z-1 drt:flex drt:text-base drt:leading-none drt:select-none drt:items-center drt:gap-2;

        .sign-transactions-header-pager-text-label {
          color: var(--drt-text-color-secondary);
        }

        .sign-transactions-header-pager-text-value {
          @apply drt:font-medium drt:flex drt:items-center drt:justify-center drt:w-2.5;
          color: var(--drt-text-color-primary);

          &.large {
            @apply drt:w-5;
          }
        }
      }
    }

    .sign-transactions-header-origin {
      @apply drt:py-6 drt:flex drt:flex-col drt:mx-auto drt:text-center drt:justify-center drt:items-center;
      @apply drt:select-none drt:gap-3 drt:leading-none drt:text-base;

      &.centered {
        @apply drt:m-auto;
      }

      .sign-transactions-header-origin-label {
        color: var(--drt-text-color-secondary);
      }

      .sign-transactions-header-origin-image {
        @apply drt:flex drt:items-center drt:rounded-3xl drt:justify-center drt:w-18 drt:h-18;
        background: var(--drt-neutral-950);
        border: 1px solid var(--drt-neutral-900);
      }

      .sign-transactions-header-origin-name {
        color: var(--drt-text-color-primary);
      }
    }
  }
}
