@keyframes SpinnerAnimation {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  @apply drt:w-4 drt:h-4;
  fill: var(--drt-text-color-secondary);
  animation: SpinnerAnimation 3000ms linear infinite;
}
