@import 'tailwindcss' prefix(drt);

@theme {
  --breakpoint-xs: 30rem; /* 480px */
  --color-primary: var(--drt-text-color-primary);
  --color-link: var(--drt-link-color);
  --color-accent: var(--drt-text-accent-color);
  --color-preloader: var(--drt-preloader-item-bg);
}
