:root {
  /* Theme Colors */
  --drt-white: #ffffff;
  --drt-black: #000000;
  --drt-neutral-225: #e8e8e8;
  --drt-neutral-250: #dddddd;
  --drt-neutral-300: #d4d4d4;
  --drt-neutral-400: #a3a3a3;
  --drt-neutral-450: #868686;
  --drt-neutral-500: #737373;
  --drt-neutral-700: #404040;
  --drt-neutral-750: #353535;
  --drt-neutral-800: #262626;
  --drt-neutral-825: #202020;
  --drt-neutral-850: #191919;
  --drt-neutral-900: #171717;
  --drt-neutral-925: #0e0e0e;
  --drt-neutral-950: #0a0a0a;
  --drt-gray-50: #f9fafb;
  --drt-gray-150: #f8f9fa;
  --drt-gray-200: #e5e7eb;
  --drt-gray-250: #dae0e5;
  --drt-gray-350: #c7c7c7;
  --drt-gray-500: #6b7280;
  --drt-gray-650: #5e5e5e;
  --drt-gray-725: #343a40;
  --drt-gray-750: #3a3a3a;
  --drt-gray-925: #212529;
  --drt-stone-125: #f3efed;
  --drt-stone-150: #e2dedc;
  --drt-stone-350: #b6b3af;
  --drt-stone-450: #88817a;
  --drt-slate-550: #545b62;
  --drt-green-400: #4ade80;
  --drt-green-650: #14aa3e;
  --drt-green-850: #1d6030;
  --drt-yellow-400: #facc15;
  --drt-yellow-650: #d39e00;
  --drt-amber-650: #d68700;
  --drt-brown-900: #453412;
  --drt-red-400: #f87171;
  --drt-red-600: #dc2626;
  --drt-red-750: #bd2130;
  --drt-red-925: #582424;
  --drt-teal-150: #a5fcf0;
  --drt-teal-350: #23f7dd;
  --drt-teal-925: #143736;
  --drt-blue-600: #2563EB;
  --drt-blue-650: #007bff;
  --drt-blue-750: #0062cc;
  --drt-cyan-550: #17a2b8;
}

/* Dark Theme Variables */
:root,
:root[data-theme='drt:dark-theme'] {
  --drt-text-color-primary: var(--drt-white);
  --drt-text-color-secondary: var(--drt-stone-350);
  --drt-text-color-tertiary: var(--drt-neutral-225);
  --drt-text-accent-color: var(--drt-teal-350);
  --drt-label-color: var(--drt-neutral-400);
  --drt-bg-color-primary: var(--drt-neutral-900);
  --drt-bg-color-secondary: var(--drt-neutral-825);
  --drt-bg-color-tertiary: var(--drt-neutral-850);
  --drt-bg-accent-color: var(--drt-neutral-950);
  --drt-bg-accent-variant-color: var(--drt-neutral-950);
  --drt-hover-color-primary: var(--drt-neutral-800);
  --drt-hover-bg-primary: var(--drt-white);
  --drt-border-color-primary: var(--drt-neutral-800);
  --drt-button-bg-primary: var(--drt-teal-350);
  --drt-button-text-primary: var(--drt-black);
  --drt-button-bg-secondary: var(--drt-neutral-800);
  --drt-button-text-secondary: var(--drt-neutral-225);
  --drt-button-bg-hover-secondary: var(--drt-teal-350);
  --drt-select-bg: var(--drt-neutral-800);
  --drt-select-color: var(--drt-gray-200);
  --drt-select-option-color: var(--drt-teal-150);
  --drt-select-option-bg: var(--drt-black);
  --drt-select-option-bg-mobile: var(--drt-neutral-800);
  --drt-success-color: var(--drt-green-400);
  --drt-success-bg-color: var(--drt-green-850);
  --drt-pending-color: var(--drt-yellow-400);
  --drt-pending-bg-color: var(--drt-brown-900);
  --drt-error-color: var(--drt-red-400);
  --drt-error-bg-color: var(--drt-red-925);
  --drt-pagination-item-bg: var(--drt-neutral-700);
  --drt-pagination-item-bg-hover: var(--drt-teal-925);
  --drt-preloader-bg: var(--drt-neutral-800);
  --drt-preloader-item-bg: var(--drt-neutral-700);
  --drt-warning-text: var(--drt-yellow-400);
  --drt-link-color: var(--drt-stone-350);
  --drt-progress-color: var(--drt-gray-650);
  --drt-progress-accent-color: var(--drt-teal-350);
  --drt-icon-bg: var(--drt-gray-750);
  --drt-scrollbar-thumb: var(--drt-neutral-750);
}

/* Light Theme Variables */
:root[data-theme='drt:light-theme'] {
  --drt-text-color-primary: var(--drt-black);
  --drt-text-color-secondary: var(--drt-stone-450);
  --drt-text-color-tertiary: var(--drt-neutral-800);
  --drt-text-accent-color: var(--drt-black);
  --drt-label-color: var(--drt-neutral-450);
  --drt-bg-color-primary: var(--drt-stone-125);
  --drt-bg-color-secondary: var(--drt-white);
  --drt-bg-color-tertiary: var(--drt-white);
  --drt-bg-accent-color: var(--drt-white);
  --drt-bg-accent-variant-color: var(--drt-stone-150);
  --drt-hover-color-primary: var(--drt-neutral-225);
  --drt-hover-bg-primary: var(--drt-black);
  --drt-border-color-primary: var(--drt-neutral-225);
  --drt-button-bg-primary: var(--drt-black);
  --drt-button-text-primary: var(--drt-white);
  --drt-button-bg-secondary: var(--drt-white);
  --drt-button-text-secondary: var(--drt-neutral-800);
  --drt-select-bg: var(--drt-white);
  --drt-select-color: var(--drt-neutral-700);
  --drt-select-option-color: var(--drt-black);
  --drt-select-option-bg: var(--drt-neutral-400);
  --drt-select-option-bg-mobile: var(--drt-neutral-400);
  --drt-success-color: var(--drt-white);
  --drt-success-bg-color: var(--drt-green-650);
  --drt-pending-color: var(--drt-yellow-400);
  --drt-pending-bg-color: var(--drt-brown-900);
  --drt-error-color: var(--drt-red-400);
  --drt-error-bg-color: var(--drt-red-925);
  --drt-pagination-item-bg: var(--drt-neutral-225);
  --drt-pagination-item-bg-hover: var(--drt-neutral-400);
  --drt-preloader-bg: var(--drt-neutral-400);
  --drt-preloader-item-bg: var(--drt-neutral-225);
  --drt-warning-text: var(--drt-amber-650);
  --drt-link-color: var(--drt-neutral-700);
  --drt-progress-color: var(--drt-gray-350);
  --drt-progress-accent-color: var(--drt-black);
  --drt-icon-bg: var(--drt-neutral-250);
  --drt-scrollbar-thumb: var(--drt-neutral-400);
}
