.trim {
  @apply drt:flex drt:relative drt:max-w-full drt:overflow-hidden drt:whitespace-nowrap;

  .trim-full {
    @apply drt:text-transparent drt:absolute drt:leading-5;

    &.visible {
      @apply drt:text-inherit drt:relative;
    }
  }

  .trim-wrapper {
    @apply drt:hidden;

    &.visible {
      @apply drt:overflow-hidden drt:max-w-full drt:flex;
    }

    .trim-ellipsis-wrapper {
      @apply drt:block drt:flex-shrink-0 drt:pointer-events-none drt:select-none;

      .trim-ellipsis {
        @apply drt:block drt:leading-5;
      }
    }

    .trim-left-wrapper,
    .trim-right-wrapper {
      @apply drt:flex-shrink drt:text-ellipsis drt:overflow-hidden;
      font-size: 1px;

      .trim-left,
      .trim-right {
        @apply drt:select-none drt:pointer-events-none drt:inline drt:text-base drt:leading-5;

        @supports (-webkit-hyphens: none) {
          letter-spacing: -0.001em;
        }
      }
    }

    .trim-left-wrapper {
      @apply drt:text-left;
    }

    .trim-right-wrapper {
      @apply drt:whitespace-nowrap drt:text-right;
      direction: rtl;

      .trim-right {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          @apply drt:text-clip;
        }

        @supports (-webkit-hyphens: none) {
          @apply drt:text-clip;
        }
      }
    }
  }
}

.trim-stories-wrapper {
  color: var(--drt-text-color-primary);
}
