:host {
  @apply drt:flex drt:flex-col drt:overflow-hidden drt:flex-1;

  .ledger-intro {
    @apply drt:flex-1 drt:flex drt:flex-col drt:py-6 drt:overflow-auto drt:overflow-x-hidden;

    &::-webkit-scrollbar {
      @apply drt:hidden;
    }

    .ledger-intro-wrapper {
      @apply drt:flex drt:flex-col drt:items-center drt:gap-6 drt:text-center drt:text-base drt:mb-auto;

      .ledger-intro-icon {
        @apply drt:mx-auto drt:self-start drt:w-auto! drt:h-auto!;
      }

      .ledger-intro-description {
        @apply drt:text-base drt:leading-6;
        color: var(--drt-text-color-secondary);
      }

      .ledger-intro-button {
        @apply drt:w-48 drt:flex drt:items-center drt:justify-center drt:font-bold drt:h-12 drt:leading-none;
        @apply drt:rounded-lg drt:cursor-pointer drt:transition-all drt:duration-200 drt:gap-2 drt:ease-in-out;
        color: var(--drt-button-text-primary);
        background-color: var(--drt-button-bg-primary);
        border: 1px solid var(--drt-button-bg-primary);

        @media (min-width: 480px) {
          @apply drt:mt-5;
        }

        &:hover {
          @apply drt:opacity-75;
        }

        &.loading {
          @apply drt:pointer-events-none drt:bg-transparent drt:cursor-default;
          border-color: var(--drt-text-color-secondary);
          color: var(--drt-text-color-secondary);
        }
      }

      .ledger-intro-error {
        @apply drt:text-base drt:max-w-60 drt:mb-6 drt:leading-6;
        color: var(--drt-error-color);
      }
    }

    .ledger-intro-issues {
      @apply drt:text-base drt:mt-10 drt:mx-auto drt:text-center drt:relative drt:pb-1;
      color: var(--drt-text-color-secondary);

      &:after {
        @apply drt:absolute drt:bottom-0 drt:left-8 drt:right-8 drt:h-px drt:transition-all drt:duration-200;
        @apply drt:opacity-0 drt:ease-in-out;
        background-color: var(--drt-text-color-secondary);
        content: '';
      }

      &:hover:after {
        @apply drt:opacity-50;
      }
    }
  }
}
