@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transaction-details-list-item {
  @apply drt:flex drt:items-center drt:gap-3 drt:self-stretch drt:w-64;

  &:hover {
    .transaction-details-list-item-hash-value {
      color: var(--drt-text-color-tertiary);
    }

    .transaction-details-list-item-explorer-link-icon {
      @apply drt:visible;
    }

    .transaction-details-list-item-copy {
      @apply drt:visible!;
    }
  }

  @media (min-width: 375px) {
    @apply drt:w-80;
  }

  @media (min-width: 440px) {
    @apply drt:w-90;
  }
}

.transaction-details-list-item-icon {
  @apply drt:w-4 drt:h-4 drt:rounded-full drt:flex drt:items-center drt:justify-center;

  svg,
  .svg-inline--fa {
    @apply drt:w-3 drt:h-3;
  }

  @media (min-width: 375px) {
    @apply drt:w-6 drt:h-6;
  }
}

.transaction-details-list-item-icon-success {
  background-color: var(--drt-success-bg-color);

  svg,
  .svg-inline--fa {
    color: var(--drt-success-color) !important;
  }
}

.transaction-details-list-item-icon-pending {
  background-color: var(--drt-pending-bg-color);

  svg,
  .svg-inline--fa {
    color: var(--drt-pending-color) !important;
    animation: rotate 2s cubic-bezier(1, 0, 0.5, 1) infinite;
  }
}

.transaction-details-list-item-icon-fail {
  background-color: var(--drt-error-bg-color);

  svg,
  .svg-inline--fa {
    color: var(--drt-error-color) !important;
  }
}

.transaction-details-list-item-hash-index {
  @apply drt:text-xs drt:font-medium drt:leading-4;
  color: var(--drt-text-color-tertiary);
}

.transaction-details-list-item-hash-value {
  @apply drt:text-xs drt:font-normal drt:leading-4 drt:w-full drt:mt-1 drt:max-w-55;
  color: var(--drt-label-color);
}

.transaction-details-list-item-copy {
  @apply drt:flex drt:invisible!;

  .transaction-details-list-item-copy-icon {
    @apply drt:h-4 drt:w-4 drt:flex drt:flex-col drt:justify-end drt:shrink-0 drt:transition-opacity drt:duration-200 drt:ease-in-out;
    color: var(--drt-text-color-tertiary);

    &:hover {
      @apply drt:opacity-80;
    }
  }
}

.transaction-details-list-item-explorer-link-icon {
  @apply drt:flex drt:flex-col drt:justify-end drt:shrink-0 drt:mr-3 drt:invisible drt:w-4 drt:h-4;
  color: var(--drt-text-color-tertiary);

  .svg-inline--fa {
    @apply drt:text-center drt:w-3.5 drt:h-3.5;
    color: var(--drt-text-color-tertiary);
  }
}
