.pagination-ellipsis-form {
  @apply drt:cursor-default drt:flex drt:flex-col drt:text-left;

  .pagination-ellipsis-form-field-label {
    @apply drt:cursor-pointer drt:mb-2 drt:text-xs;
    color: var(--drt-text-color-secondary);
  }

  .pagination-ellipsis-form-field {
    @apply drt:relative drt:gap-2 drt:flex;

    .pagination-ellipsis-form-field-input {
      @apply drt:w-22 drt:h-11 drt:p-3 drt:text-center drt:transition-all drt:duration-200 drt:ease-in-out drt:pr-10 drt:m-0;
      @apply drt:border drt:shadow-none drt:text-base drt:rounded-lg drt:border-transparent drt:appearance-none drt:outline-none;
      background: var(--drt-bg-color-primary);
      color: var(--drt-text-color-primary);
      border-width: 1px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        @apply drt:appearance-none drt:m-0;
      }

      &:focus {
        border-color: var(--drt-text-accent-color);
      }
    }

    .pagination-ellipsis-form-button {
      @apply drt:leading-none drt:h-8 drt:right-1 drt:absolute drt:cursor-pointer drt:flex drt:top-1/2 drt:text-xs;
      @apply drt:outline-none drt:border-none drt:bg-transparent drt:transform drt:-translate-y-1/2 drt:translate-x-0;

      &:hover .pagination-ellipsis-form-button-icon {
        fill: var(--drt-text-accent-color);
      }
    }
  }
}
