:host {
  @apply drt:flex drt:flex-1 drt:flex-col drt:w-full;

  .wallet-connect-scan {
    @apply drt:flex drt:items-center drt:flex-col drt:gap-3 drt:flex-1 drt:w-full;

    .wallet-connect-scan-qr {
      @apply drt:flex drt:justify-center drt:items-center drt:mt-auto drt:relative drt:w-75 drt:h-75;

      .wallet-connect-scan-qr-embed {
        @apply drt:w-full drt:h-auto drt:absolute drt:opacity-0 drt:transition-all drt:duration-200 drt:p-3;
        @apply drt:ease-in-out drt:pointer-events-none drt:w-85 drt:h-85;

        &:before {
          @apply drt:pointer-events-none drt:left-2 drt:bottom-2 drt:top-2 drt:right-2 drt:absolute;
          content: '';
          border: 8px solid var(--drt-bg-color-primary);
          content: '';
          pointer-events: none;
          border-radius: 16px;
        }

        svg {
          @apply drt:rounded-lg;

          path {
            stroke: var(--drt-black);
            fill: var(--drt-white);
          }
        }

        &.visible {
          @apply drt:opacity-100;
        }
      }
    }

    .wallet-connect-scan-wrapper {
      @apply drt:flex drt:flex-col drt:h-16 drt:gap-4 drt:items-center drt:mb-auto;

      .wallet-connect-scan-description {
        @apply drt:leading-5 drt:font-medium drt:text-base drt:z-1;
        color: var(--drt-text-color-secondary);
      }

      .wallet-connect-scan-connect {
        @apply drt:font-medium drt:leading-none drt:sm:hidden drt:transition-all drt:duration-200 drt:ease-in-out;
        color: var(--drt-text-accent-color);

        &.disabled {
          @apply drt:pointer-events-none;
          color: var(--drt-text-color-secondary);
        }
      }
    }

    .wallet-connect-scan-download {
      @apply drt:rounded-xl drt:w-full drt:flex drt:gap-6 drt:items-center drt:p-6 drt:relative drt:mt-16 drt:h-44;
      background: var(--drt-bg-accent-color);

      .wallet-connect-scan-download-wrapper {
        @apply drt:flex drt:flex-col drt:gap-4 drt:items-start;

        .wallet-connect-scan-download-title {
          @apply drt:text-base drt:leading-5 drt:font-medium;
          color: var(--drt-text-color-primary);
        }

        .wallet-connect-scan-download-button {
          @apply drt:rounded-lg drt:text-xs drt:leading-none drt:text-center drt:p-2 drt:font-bold drt:cursor-pointer;
          @apply drt:ease-in-out drt:transition-all drt:duration-200;
          background: var(--drt-button-bg-primary);
          color: var(--drt-button-text-primary);

          &:hover {
            @apply drt:opacity-75;
          }
        }
      }

      .wallet-connect-scan-download-image {
        @apply drt:absolute drt:right-0 drt:bottom-0 drt:max-h-50;
      }
    }
  }
}
