.pagination {
  @apply drt:flex drt:items-center drt:gap-2 drt:leading-none drt:select-none drt:justify-center drt:text-base drt:max-w-120;

  .pagination-angle {
    @apply drt:hidden drt:transition-all drt:duration-200 drt:ease-in-out drt:cursor-pointer;
    color: var(--drt-text-color-primary);

    @media (min-width: 576px) {
      @apply drt:flex;
    }

    &.disabled,
    &.inactive {
      @apply drt:pointer-events-none;
      color: var(--drt-text-color-secondary);

      .pagination-angle-icon {
        fill: var(--drt-text-color-secondary);
      }
    }

    &.disabled {
      @apply drt:opacity-50;
    }

    &:hover {
      color: var(--drt-text-accent-color);

      .pagination-angle-icon {
        fill: var(--drt-text-accent-color);
      }
    }

    .pagination-angle-icon {
      @apply drt:text-xs;
      fill: var(--drt-text-color-primary);

      @media (min-width: 375px) {
        @apply drt:text-base drt:leading-none;
      }
    }
  }

  .pagination-edge-button {
    @apply drt:hidden drt:gap-2 drt:items-center drt:cursor-pointer drt:transition-all drt:duration-200 drt:ease-in-out;
    color: var(--drt-text-color-primary);

    @media (min-width: 576px) {
      @apply drt:p-0 drt:my-0 drt:mx-1 drt:flex;
    }

    &.inactive,
    &.disabled {
      @apply drt:pointer-events-none;
      color: var(--drt-text-color-secondary);

      .pagination-edge-button-icon {
        fill: var(--drt-text-color-secondary);
      }
    }

    &.disabled {
      @apply drt:opacity-50;
    }

    &:hover {
      color: var(--drt-text-accent-color);

      .pagination-edge-button-icon {
        fill: var(--drt-text-accent-color);
      }
    }

    .pagination-edge-button-icon {
      @apply drt:transition-all drt:duration-200 drt:ease-in-out drt:text-xs;
      fill: var(--drt-text-color-primary);

      @media (min-width: 375px) {
        @apply drt:text-base;
      }
    }
  }

  .pagination-items {
    @apply drt:flex drt:gap-2 drt:my-0 drt:mx-1 drt:items-center;

    .pagination-item-wrapper {
      @apply drt:cursor-pointer drt:text-center drt:h-7 drt:w-7 drt:flex drt:items-center drt:justify-center;
      @apply drt:transition-all drt:duration-200 drt:ease-in-out;

      @media (min-width: 768px) {
        @apply drt:w-8 drt:h-8;
      }

      &.disabled {
        @apply drt:pointer-events-none drt:cursor-default drt:opacity-50;
      }

      .pagination-item {
        @apply drt:relative drt:flex drt:justify-center drt:items-center drt:py-2 drt:px-0 drt:text-center drt:w-7 drt:h-7;
        @apply drt:transition-colors drt:duration-200 drt:ease-in-out drt:rounded drt:text-xs;
        color: var(--drt-text-color-primary);

        @media (min-width: 768px) {
          @apply drt:text-base drt:h-8 drt:w-8;
        }

        &:before {
          @apply drt:absolute drt:transition-all drt:duration-200 drt:ease-in-out drt:pointer-events-none drt:transform drt:w-7;
          @apply drt:left-1/2 drt:top-1/2 drt:h-7 drt:z-1 drt:rounded-full drt:opacity-20 drt:-translate-y-1/2 drt:-translate-x-1/2;
          background-color: var(--drt-pagination-item-bg);
          content: '';

          @media (min-width: 768px) {
            @apply drt:h-8 drt:w-8;
          }
        }

        &:hover {
          color: var(--drt-text-accent-color);

          &:before {
            @apply drt:opacity-100;
            background-color: var(--drt-pagination-item-bg-hover);
          }
        }

        &.hundreds {
          font-size: 8px;

          @media (min-width: 768px) {
            font-size: calc(20px / 2);
          }
        }

        &.active {
          color: var(--drt-text-accent-color);

          &:before {
            @apply drt:opacity-100;
            background-color: var(--drt-pagination-item-bg-hover);
          }
        }

        .pagination-item-text {
          @apply drt:z-2 drt:relative;
        }
      }
    }
  }
}
